* {
    margin : 0;
    padding: 0;
}

.container{
  background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper{
  background-color:#fff ;
  width: 960px;
  /* min-height: 650px; */
  padding: 20px 80px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: black 4px 16px 20px 0px;
  /* margin: auto; */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title{
  color: black;
  /* text-align: center; */
  /* margin: 80px 0px 40px 15px; */
  padding: 20px;
  font-weight: bold;
}

.name,
.email,
.password,
.phone,
.cpassword,
.user,
.fileName,
.status,
.comment,
.role{
  margin: 5px;
  color: #4a4a4a;
  font-size: 16px;
}

.cpassword{
  margin-bottom: 40px;
}

.input{
  height:35px;
  font-size: 15px;
  outline: none;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  padding-left: 4px;
}

.error{
  color: red;
  padding-left: 50px;
}

.submit{
  display: flex;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 10px;
  color: white;
  padding: 10px 60px;
  background: linear-gradient(to right, #30cfd0,#330867 );
  box-shadow: rgba(0,0,0,0.3) 0px 19px 38px,
  rgba(0,0,0,0.22) 0px 15px 12px;
  margin: auto;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
  margin-bottom: 20px;
}

button:octive{
  transform: translateY(2px);
}

.form-success{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  min-width: 370px;
  color: #f80759;
}

.input-container{
  display: flex;
  /* flex-wrap: wrap; */
}

/* zmdi class inside input-container class */
.input-container .zmdi{
  font-size: x-large;
  padding: 10px;
  flex-basis: 10%;
}

.input-container .input{
  /* font-size: x-large; */
  /* padding: 10px; */
  flex-basis: 90%;
}

body{
  /* background: lightgray; */
  /* background: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
  /* margin: 0 100px; */
}

.role select {
  color: #807e7e;
  padding-left: 0px;
}

.form{
  min-width: 440px;
}

.form-container{
  min-width: 845px;
}

#root{
  background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
}

.fileLink{
    margin-top: 10px;
}

img{
  filter: hue-rotate(45deg);
}